@model IEnumerable<ConsumerModel>

@{
    Layout = "_Layout";
}

@Html.Partial("InnerPageHeader", "Create Consumer");
<section class="inner-page">
<div class="container">
    <table class="table table-bordered table-striped" id="consumersTable">
        <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Nombre
            </th>
            <th>
                Email
            </th>
            <th>
                Estatus
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                @* <td> <a asp-controller="Consumer" asp-action="Show" asp-route-id="@obj.Id">@obj.Name</a></td> *@
                <td><a asp-route="showConsumer" asp-route-id="@obj.Id">@obj.Username</a></td> 
                <td>@(obj.Name + " " + obj.LastName)</td>
                <td>@obj.Email</td>
                <td>@(obj.Status.GetValueOrDefault() ? "Activo" : "Inactivo")</td>
            </tr>
        }
        </tbody>
    </table>
    <div>
        <a asp-controller="Consumer" asp-action="Create" class="btn">
            Create Consumer
        </a>
    </div>
</div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
        $(document).ready(function () {
            $('#consumersTable').DataTable({
                searching: true,
                ordering: true,
                language: {
                    search: "Search Consumers: ",
                    zeroRecords: "No se encontraron registros",
                    infoEmpty: "No hay registros disponibles",
                    infoFiltered: "(filtrado de MAX registros totales)"
                }
            });
        });
</script>

<script defer>
    let tableRows = document.querySelectorAll("table tr");
    tableRows.forEach((item)=>{
        console.log(item);
        let lastChild = item.querySelector("td:last-child, th:last-child");
        console.log(lastChild);
        if(lastChild.textContent === "Inactivo"){
            item.style.opacity = "0.3";
        }
    })
</script>