@model ConsumerModel

@Html.Partial("InnerPageHeader", "Show Service")
<section class="inner-page">
    <div class="container">
        <div class="container p-4">
            <div><b>Id</b></div>
            <div>@Model.Id</div>
            <div><b>Username</b></div>
            <div>@Model.Username</div>
            <div><b>Name</b></div>
            <div>@Model.Name</div>
            <div><b>LastName</b></div>
            <div>@Model.LastName</div>
            <div><b>Email</b></div>
            <div>@Model.Email</div>
            <div><b>Consumer Id</b></div>
            <div>@Model.ConsumerId</div>
            <div><b>Estatus</b></div>
            <div>@(Model.Status.GetValueOrDefault() ? "Activo" : "Inactivo") </div>
            <div><b>Payments</b></div>
            <div>
                @if (Model.Payments != null && Model.Payments.Count > 0)
                {
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>
                                Identificador
                            </th>
                            <th>
                                Servicio
                            </th>
                            <th>
                                Monto
                            </th>
                            <th>
                                Estatus
                            </th>
                        </tr>
                        </thead>
        
                        @foreach (var obj in @Model.Payments)
                        {
                            <tr>
                                <td>@obj.TransactionId</td>
                                <td>@obj.Service?.Name</td>
                                <td>@(obj.Amount + "$")</td>
                                <td>@obj.PaymentStatus</td>
                            </tr>
                        }
                    </table>
                }
                @if (Model.Payments == null || Model.Payments.Count == 0)
                {
                    <div>No payments registered</div>
                }
            </div>
            <br>
            <div>
                <a asp-controller="Consumer" asp-action="Delete" class="btn btn-primary" asp-route-id="@Model.Id">DELETE</a>
                <a asp-route="updateConsumer" class="btn btn-primary" asp-route-id="@Model.Id">UPDATE</a>
            </div>
            <br>
            <div>
                <a asp-controller="Consumer" asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div>
</section>



