@model IEnumerable<PaymentModel>

@{
    Layout = "_Layout";
}


<div class="container-fluid p-4">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Payments</h2>
        </div>
    </div>
    <table class="table table-bordered table-striped" id="paymentsTable">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Date
            </th>
            <th>
                Amount
            </th>
            <th>
                Status
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                @* <td> <a asp-controller="Consumer" asp-action="Show" asp-route-id="@obj.Id">@obj.Name</a></td> *@
                <td>@obj.TransactionId</td> 
                <td>@obj.PaymentDate</td>
                <td>@(obj.Amount+"$")</td>
                <td>@obj.PaymentStatus</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
        $(document).ready(function () {
            $('#paymentsTable').DataTable({
                searching: true,
                ordering: true,
                language: {
                    search: "Search Payments: ",
                    zeroRecords: "No se encontraron registros",
                    infoEmpty: "No hay registros disponibles",
                    infoFiltered: "(filtrado de MAX registros totales)"
                }
            });
        });
</script>