@model IEnumerable<ServiceModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


@Html.Partial("InnerPageHeader", "Services")
<section class="inner-page">
    <div class="container">
        <table class="table table-bordered table-striped" id="servicesTable">
            <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Tipo
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    @* <td> <a asp-controller="Service" asp-action="Show" asp-route-id="@obj.Id">@obj.Name</a></td> *@
                    <td><a asp-route="showService" asp-route-id="@obj.Id">@obj.Name</a></td> 
                    <td>@obj.Description</td>
                    <td>@obj.ServiceStatus</td>
                    <td>@obj.ServiceType</td>
                </tr>
            }
            </tbody>
        </table>
        <div>
            <a asp-controller="Service" asp-action="Create" class="btn btn-primary">
                Create Service
            </a>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
        $(document).ready(function () {
            $('#servicesTable').DataTable({
                searching: true,
                ordering: true,
                language: {
                    search: "Search Services: ",
                    zeroRecords: "No se encontraron registros",
                    infoEmpty: "No hay registros disponibles",
                    infoFiltered: "(filtrado de MAX registros totales)"
                }
            });
        });
</script>

@* <script defer> *@
@*     let tableRows = document.querySelectorAll("table tr"); *@
@*     tableRows.forEach((item)=>{ *@
@*         console.log(item); *@
@*         let lastChild = item.querySelector("td:nth-child(3), th:last-child"); *@
@*         console.log(lastChild); *@
@*         if(lastChild.textContent === "Inactivo" || lastChild.textContent === "Proximamente"){ *@
@*             item.style.opacity = "0.4"; *@
@*         } *@
@*     }) *@
@* </script> *@

