@model FieldRequest


<form method="post" asp-route="putField" asp-route-id="@ViewBag.Id" asp-route-serviceId="@ViewBag.serviceId" class="border p-3 mt-4">
    <div id="htmlContainer" class="grid-container">
        <div>
            <h2>Update Field</h2>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Name">Name</label>
            <input asp-for="@Model.Name" class="form-control">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Format">Formato</label>
            <input asp-for="@Model.Format" class="form-control">
            <span asp-validation-for="@Model.Format" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Length">Longitud</label>
            <input asp-for="@Model.Length" class="form-control">
            <span asp-validation-for="@Model.Length" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.AttrReference">Referencia</label>
            <input asp-for="@Model.AttrReference" class="form-control">
            <span asp-validation-for="@Model.AttrReference" class="text-danger"></span>
        </div>
    </div>
        <br>
        <button type="submit" class="btn btn-primary" id="btnRenderHtml2">Update</button>
</form>
<a asp-controller="Service" asp-action="Index">
    <button class="btn-secondary">Back</button>
</a>

@section Scripts
{   @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

<partial name="_ValidationScriptsPartial"/>