@model ProviderModel

<div class="container p-4">
    <div><b>Id</b></div>
    <div>@Model.Id</div>
    <div><b>Username</b></div>
    <div>@Model.Username</div>
    <div><b>Name</b></div>
    <div>@Model.Name</div>
    <div><b>Email</b></div>
    <div>@Model.Email</div>
    <div><b>Rif</b></div>
    <div>@Model.Rif</div>
    <div><b>Account Number</b></div>
    <div>@Model.AccountNumber</div>
    <div><b>Status</b></div>
    <div>@(Model.Status.GetValueOrDefault() ? "Activo" : "Inactivo") </div>
    <div><b>Services</b></div>
    <div>
        @if (Model.Services != null && Model.Services.Count > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                </thead>

                @foreach (var obj in @Model.Services)
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td>@obj.Description</td>
                        <td>@obj.ServiceStatus</td>
                    </tr>
                }
            </table>
        }
        @if (Model.Services == null || Model.Services.Count == 0)
        {
            <div>No services registered</div>
        }
    </div>
    <br>
    <div>
        <a asp-controller="Provider" asp-action="Delete" class="btn btn-primary" asp-route-id="@Model.Id">DELETE</a>
        <a asp-route="updateProvider" class="btn btn-primary" asp-route-id="@Model.Id">UPDATE</a>
    </div>
    <br>
    <div>
        <a asp-controller="Provider" asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
</div>
