@model IEnumerable<ServiceModel>

@{
    Layout = "_Layout";
}

<div class="container-fluid p-4">
    <table class="table table-bordered table-striped" id="servicesTable">
        <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Estado
            </th>
            <th>
                Tipo
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                @* <td> <a asp-controller="Service" asp-action="Show" asp-route-id="@obj.Id">@obj.Name</a></td> *@
                <td><a asp-route="showService" asp-route-id="@obj.Id">@obj.Name</a></td> 
                <td>@obj.Description</td>
                <td>@obj.ServiceStatus</td>
                <td>@obj.ServiceType</td>
            </tr>
        }
        </tbody>
    </table>
    <a asp-controller="Home" asp-action="Index2"  class="btn btn-secondary">Back</a>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
        $(document).ready(function () {
            $('#servicesTable').DataTable({
                searching: true,
                ordering: true,
                language: {
                    search: "Search Services: ",
                    zeroRecords: "No se encontraron registros",
                    infoEmpty: "No hay registros disponibles",
                    infoFiltered: "(filtrado de MAX registros totales)"
                }
            });
        });
</script>
